body {
    background-color: #eef2f3;
    font-family: 'Poppins', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    color: #0056b3;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
}

#navbar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.modal-content {
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.modal-header {
    background-color: #0056b3;
    color: white;
    border-radius: 20px 10px 0 0;
}

.modal-title {
    font-weight: bold;
    font-size: larger;
    flex-grow: 1;
    text-align: center;
}

.modal-footer {
    border-top: none;
}

.btn-success {
    background-color: #28a745;
    border-radius: 5px;
    padding: 10px 20px;
    transition: background 0.3s;
}

.btn-success:hover {
    background-color: #218838;
}

.btn-outline-danger:hover {
    background-color: #dc3545;
    color: white;
}

.btn-outline-success:hover {
    background-color: #28a745;
    color: white;
}

.btn-info {
    background-color: #17a2b8;
    border-radius: 5px;
    padding: 10px 20px;
    transition: background 0.3s;
}

.btn-info:hover {
    background-color: #138496;
}

#tabella {
    width: 100%;
    max-width: 800px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.table th, .table td {
    vertical-align: middle;
    padding: 12px;
    border: 1px solid #ddd;
}

footer {
    background-color: #0056b3;
    color: black !important;
    text-align: center;
    padding: 15px 0;
    font-size: 14px;
    margin-top: 30px;
}