.tbl1 {
    height: 70px;
}

.redb {
    border-width: 10px;
    border-color: red;
}

.categorie {
    padding: 10px;
}

body {
    background-color: rgb(255, 255, 255);
}

h1 {
    color: #6c757d;
    font-family: Helvetica;
    font-weight: bold;
    padding-top: 1%;
    padding-bottom: 1%;
}

table {
    background-color: red;
}

.modalltop {
    padding-top: 2%;
}

.provaTable {
    background-color: rgb(141, 255, 194);
}